name: NextJS App Build 

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ububtu-latest

    concurrency:
      group: deploy
      cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1
      - name: Install Dependencies
        run: npm install
      - name: Build Next JS App
        run: npm run build
      - name: Deploy App
        run: echo "App Deployed"
